.profile-page .page-header { height: 190px }
.main-section { height: 750px }
.navbar { color: white; background-color: #101010 !important; }
.main-section { background: #8849a814; }
.card-login-small { max-height: 250px; }

.margin-top-20 { margin-top: 20px !important;}